<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Not Optimized for Mobile Phones, yet.</h3>
        <p>Please view on a Tablet or Desktop. If you are on a desktop or tablet, expand your window and refresh. </p>
        <p>Thanks,</p>
        <p>The JTI Team</p>
      </div>
    </div>
  </div>
</div>
